<template id="tpl-mcm-btn-add">
  <style>
    input {
      border: none;
      outline: none;
    }
  </style>
  <a href="#" title="" class="btn">++++</a>
  <form style="display: none;" action="">
    <slot name="content"></slot>
  </form>
</template>