<template id="tpl-mcm-btn-add">
  <style>
    input {
      border: none;
      outline: none;
    }
  </style>
  <a href="#" title="" class="btn">++++</a>
  <form style="display: none;" action="">
    <input class="form-control" type="text" name="url" placeholder="" autocomplete="off" />
  </form>
</template>